<html>

<head>
    
    <div class="topnav">
        <a class="active" href="{%url 'index'%}">Home</a>
        <a href="{%url 'map'%}">Map</a>
        <a href="{%url 'connect'%}">Connecte</a>
        <a href="{%url 'about'%}">Apropo</a>
    </div>

</head>

<body>
    <h1>connetion</h1>
    <form method="POST" action="/">
        <input type="text" name="name" placeholder="Nom">
        <input type="password" name="password" placeholder="mot de passe">
        <input type="submit" name="verifiepassword" value="connection">
    </form>

    <h1>Inscription </h1>
    <form method="POST" action="/">
        <input type="text" name="newUser" placeholder="Nom">
        <input type="password" name="newPassword" placeholder="mot de passe">
        <input type="text" name="idGroupe" placeholder="id du groupe">
        <input type="submit" name="createPassword" value="Inscription">
    </form>
</body>


</html>