<html>



<head>
    <div class="topnav">
        <a class="active" href="{%url 'index'%}">Home</a>
        <a href="{%url 'map'%}">Map</a>
        <a href="{%url 'connect'%}">Connecte</a>
        <a href="{%url 'about'%}">Apropos</a>
    </div>

</head>


<body>
    <h1>connetion</h1>
    <div class="row">
        <div class="col-sm-4">
            <form action="" method="POST">
                {%csrf_token%} 
                {{form}}
                <input type="submit" class="btn btn-success" value="Ajouter">
            </form>
        </div>
    </div>
    




</html>